#greeting-settings-container {
    margin-top: 3%;
    width: 98vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--highlight-color) 5px solid;
    border-radius: 10px;
    background-color: var(--light-background-color);
    gap: 5%;
    font-size: clamp(1rem, 1.5rem, 2rem);
    color: var(--text-color);
}

#greeting-settings-container input {
    height: 80%;
    background-color: var(--light-background-color);
    border: var(--highlight-color) 5px solid;
    border-radius: 10px;
    text-align: center;
    color: var(--text-color);
    outline: none;
    font-size: clamp(1rem, 1.5rem, 2rem);
}

#greeting-settings-container input::placeholder {
    color: var(--text-color);
    font-size: clamp(1rem, 1.5rem, 2rem);
}

#greeting-settings-container input[type="checkbox"] {
    aspect-ratio: 1/1;
}

#enable-greeting-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    gap: 1%;
}