:root {
    --background-color: #062726;
    --light-background-color: #102B3F;
    --text-color: #E0E2DB;
    --light-text-color: #E2CFEA;
    --highlight-color: #6247AA;
    font-family: 'Roboto Mono', monospace;
}

body {
    overflow-x: hidden;
    background-color: var(--background-color);
    color-scheme: light dark;
}
