#disable-quote-container {
    display: flex;
    height: 10vh;
    width: 98vw;
    margin-top: 3%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
    background-color: var(--purple-background-color);
    border: var(--purple-highlighter) 5px solid;
    border-radius: 10px;
    font-size: clamp(1rem, 1.5rem, 2rem);
    color: var(--text-color);
}

#enable-quote-wrapper input {
    height: 80%;
    width: clamp(1rem, 1.5rem, 2rem);
    aspect-ratio: 1/1;
}

#enable-quote-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    gap: 1%;
}