#search-engine-select-container {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--highlight-color) 5px solid;
    border-radius: 10px;
    background-color: var(--light-background-color);
    gap: 5%;
    font-size: 2rem;
    color: var(--text-color);
}

#search-engine-select {
    font-size: 3rem;
    color: var(--text-color);
    text-align: center;
    border: var(--highlight-color) 5px solid;
    border-radius: 10px;
    background-color: var(--light-background-color);
}