#change-theme-container {
    height: 10vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-background-color);
    margin-top: 3%;
    border: var(--highlight-color) 5px solid;
    border-radius: 10px;
    gap: 1%;
}

#change-theme-container * {
    font-size: clamp(1rem, 1.5rem, 2rem);
    color: var(--text-color);
}