#change-theme-container {
    height: fit-content;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-background-color);
    margin-top: 3%;
    border: var(--highlight-color) 5px solid;
    border-radius: 10px;
    gap: 1%;
    flex-direction: column;
}

#change-theme-container * {
    font-size: clamp(1rem, 1.5rem, 2rem);
    color: var(--text-color);
}

#theme-selector-wrapper {
    margin-bottom: 2%;
}

#custom-color-selector {
    display: none;
    flex-direction: column;
}