#greetings-container {
    position: absolute;
    top: -100vh;
    left: 50vw;
    width: 50vw;
    height: 15vh;
    text-align: center;
    background-color: var(--light-background-color);
    border-radius: 3vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-50%);
}

#greetings-container>:nth-child(2) {
    position: relative;
    top: -100vh;
}