:root {
    --background-color: #062726;
    --purple-background-color: #102B3F;
    --text-color: #E0E2DB;
    --search-text-color: #E2CFEA;
    --purple-highlighter: #6247AA;
    font-family: 'Roboto Mono', monospace;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fef5;
        --purple-background-color: #feff;
        --text-color: #323f;
        --search-text-color: #535f53;
        --purple-highlighter: #649f;
    }
}

body {
    overflow: hidden;
    background-color: var(--background-color);
    color-scheme: light dark;
}

.greetings-span {
    color: var(--text-color);
    font-size: 2rem;
}

ion-icon[name="settings-outline"] {
    color: var(--text-color);
    font-size: 3rem;
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: var(--purple-background-color);
    border: var(--search-text-color) 3px solid;
    border-radius: 50vh;
    padding: 1%;
    transition: 250ms;
}

ion-icon[name="settings-outline"]:hover {
    background-color: var(--purple-highlighter);
    transform: scale(1.25);
    cursor: pointer;
}