.the_baum {
    --background-color: #062726;
    --light-background-color: #102B3F;
    --text-color: #E0E2DB;
    --light-text-color: #E2CFEA;
    --highlighter: #6247AA;
}

.gruvbox-light {
    --background-color: #f9f5d7;
    --light-background-color: #f2e5bc;
    --text-color: #282828;
    --light-text-color: #504945;
    --highlighter: #9d0006;
}